<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layout :: head_flagment('mypage',~{::link})">
</head>
<body>
	<h1>マイページ</h1>
	<p>ログイン成功！</p>
	<h1>
		こんにちは、<span th:text="${username}"></span>さん
	</h1>
    <a th:href="@{'/urls/new'}" id="newurllink">作成ページ</a>
    <h1>登録したURL</h1>
    <table>
        <tr th:each="url : ${urllist}" th:object="${url}">
            <td th:text="*{title}"></td>
            <td th:text="*{urls}"></td>
            <td th:text="*{create_day}"></td>
            <td><a th:href="@{/urls/delete?(id=*{id})}"><button onClick="return deleteConfirm()">削除</button></a></td>
    </table>
    <form id="logout-form" th:action="@{/logout}" method="post">
    <button type="submit">logout</button>
    </form>
    
    <script type="text/javascript" th:inline="javascript">
    function deleteConfirm() {
    	if(window.confirm('このURLを削除しますか?')) {
    		return true;
    	} else {
    		return false;
    	}
    	
    }
    </script>
</body>
</html>