<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head_flagment('new',~{::link})">
</head>
<body>
    
	<form th:action="@{/users/create}" th:object="${users}" method="post" enctype="multipart/form-data">
		<label for="login_id">ログインＩＤ</label>
		<input type="text" th:field="*{login_id}"> 
		<div th:if="${errors != null}">
		  <p>このＩＤは既に使用されています。</p>
		</div>
		<br />
		<label for="password">パスワード</label>
		<input type="text" th:field="*{password}"> <br />
		
		<label for="name">表示名</label>
		<input type="text" th:field="*{name}"> <br />
		
		<!-- あとでけす -->
		<label for="admin_flag">権限</label>  
		<select name="admin_flag" th:field="*{admin_flag}">
			<option value="0">一般</option>
			<option value="1">管理者</option>
		</select>
		
		<input type="hidden" name="delete_flag" th:value="0" />
		
		<button type="submit">登録</button>
		<small style="color:red" th:errors="*{name}"></small>
		<ul>
        <li th:each="error : ${#fields.detailedErrors()}">
            <span th:text="${error.message}">Error message</span>
        </li>
    </ul>
	</form>
</body>
</html>