<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head_flagment('new',~{::link})">
</head>
<body>
<a href="/"><button class="btn btn-outline-success my-2 my-sm-0">←トップページに戻る場合はこちら</button></a>
    <div class="wrapper fadeInDown">
    <div class="main">
         <div id="formContent">
	<form th:action="@{/users/create}" th:object="${users}" method="post" enctype="multipart/form-data">
		<label for="login_id">使用したいログインＩＤ</label>
		<input type="text" th:field="*{login_id}" placeholder="ログインIDを入力"> 
		<div th:if="${errors != null}">
		  <p>このＩＤは既に使用されています。</p>
		</div>
		<br />
		<label for="password">パスワード</label>
		<input type="text" th:field="*{password}" placeholder="パスワードを入力"> <br />
		
		
		<input type="hidden" name="name" th:value="表示名なし"> <br />
		
		
		<input type="hidden" name="delete_flag" th:value="0" />
		
		<button type="submit" class="btn btn-outline-success" >登録</button>
		<small style="color:red" th:errors="*{name}"></small>
		<ul>
        <li th:each="error : ${#fields.detailedErrors()}">
            <span th:text="${error.message}">Error message</span>
        </li>
    </ul>
	</form>
	</div>
	</div>
	</div>
</body>
</html>